DATABASE_DRIVER="mongodb"
DATABASE_URL="mongodb://localhost:27017/prac"
DEBUG=*
DATABASE_USERNAME=prac
DATABASE_PASSWORD=prac

# PostgreSQL example:
# DATABASE_DRIVER="postgres"
# DATABASE_URL="postgres://localhost:5432/prac"
